output/
annotators/
job_output/
*.pyc
my_write_jobs.py
Lemur_smart_seq_sample_list*
slurm*
test*
smart_seq_sample_list*
Lemur_*
HLCA_*
remaining*
run_*
write_jobs_*
run_*
sandbox/
*.fa
.*
*.tsv
gtf_files/
TSP*
*.txt
*HLCA*
*lemur*
